extends ../layout

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title Animales
        .card-body
          .toolbar
            // Here you can write extra buttons/actions for the toolbar
            a.btn.btn-success(href="/animals/create") Agregar Animal
          table#datatable.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
              tr
                th Nombre
                th Descripción
                th Hábitat
                th.disabled-sorting.text-right Acciones
            tfoot
              tr
                th Nombre
                th Descripción
                th Hábitat
                th.disabled-sorting.text-right Acciones
            tbody
              for animal in animals
                tr
                  td=animal.name
                  td=animal.description
                  td=animal.habitat.name
                  td.text-right
                    a.btn.btn-warning.btn-link.btn-icon.btn-sm.edit(href=`/animals/${animal.id}/edit`)
                      i.fa.fa-edit
                    a.btn.btn-danger.btn-link.btn-icon.btn-sm.remove(href=`/animals/${animal.id}/delete`, onClick="return confirm('¿En verdad deseas eliminar este animal?');")
                      i.fa.fa-times
