extends ../layout

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title Sucursales
        .card-body
          .toolbar
            // Here you can write extra buttons/actions for the toolbar
            a.btn.btn-success(href="/branches/create") Agregar Sucursal
          table#datatable.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
              tr
                th Habitat
                th Latitud
                th Longitud
                th Capacidad
                th.disabled-sorting.text-right Acciones
            tfoot
              tr
                th Habitat
                th Latitud
                th Longitud
                th Capacidad
                th.disabled-sorting.text-right Acciones
            tbody
              for branch in branches
                tr
                  td=branch.habitat.name
                  td=branch.loc.coordinates[1]
                  td=branch.loc.coordinates[0]
                  td=branch.capacity
                  td.text-right
                    a.btn.btn-warning.btn-link.btn-icon.btn-sm.edit(href=`/branches/${branch.id}/edit`)
                      i.fa.fa-edit
                    a.btn.btn-danger.btn-link.btn-icon.btn-sm.remove(href=`/branches/${branch.id}/delete`, onClick="return confirm('¿En verdad deseas eliminar esta sucursal?');")
                      i.fa.fa-times
