extends ../layout

block content
  .row
    .col-md-6
      .card
        .card-body
          .author
            a(href='#')
              h5.title=player.fname+' '+player.lname
            p.text-center
              | Correo Electrónico:
              a(href='mailto:'+player.email)='  '+player.email
          p.text-center Fecha de Registro: #{player.createdAt.getDate()+'-'+(player.createdAt.getMonth()+1)+'-'+player.createdAt.getFullYear()}
        .card-footer
          hr
          .button-container
            .row
              .col-lg-3.col-md-6.col-6.ml-auto
                h5
                  =(playerObjects.length)
                  br
                  small Animales en la Mochila
              .col-lg-4.col-md-6.col-6.ml-auto.mr-auto
                h5
                  | 32
                  br
                  small Animales Rescatados
              .col-lg-3.mr-auto
                h5
                  | 130
                  br
                  small Animales Perdidos
    .col-md-6
      .card
        .card-header
          h5.card-title Desempeño del Jugador
          p.card-category Análisis de los últimos 30 días
        .card-body
          canvas#chartHours(width='400', height='100')
        .card-footer
          hr
          .stats
            i.fa.fa-history
            |  Actualizada hace 15 minutos
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title Animales en la Mochila
        .card-body
          .toolbar
            // Here you can write extra buttons/actions for the toolbar
          table#datatable.table.table-striped.table-bordered(cellspacing='0', width='100%')
            thead
              tr
                th Nombre
                th Sucursal de Recolección
                th Hábitat Destino
                th Fecha en que se recogió
            tfoot
              tr
                th Nombre
                th Sucursal de Recolección
                th Hábitat de Destino
                th Fecha en que se recogió
            tbody
              for animal in playerObjects
                tr
                  td=animal.animalBranch.animal.name
                  td=animal.animalBranch.branch._id
                  td=animal.animalBranch.branch.habitat.name
                  td=animal.createdAt.getDate()+'-'+animal.createdAt.getMonth()+'-'+animal.createdAt.getFullYear()
  script.
    $(document).ready(() => {
      demo.initChartsPages();
    });